In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:99% !important;}
div.cell.code_cell.rendered{width:100%;}
div.input_prompt{padding:0px;}
div.CodeMirror {font-family:Consolas; font-size:22pt;}
div.text_cell_render.rendered_html{font-size:18pt;}
div.text_cell_render ul li{font-size:22pt; line-height:30px;}
div.output {font-size:22pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:22pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:22pt;padding:5px;}
table.dataframe{font-size:22px;}
</style>
"""))

<b><font size="7" color="red">ch15. 데이터베이스 연동</font></b>
# 1절 SQLite 데이터 베이스 연결
- SQLite 데이터 베이스는 별도의 DBMS 없이 SQL문 이용해서 DB액세스할 수 있도록 만든 간단한 디스크 기반 DB
- C라이브러리
- SQLite는 프로토타입 생성시 사용
- 프로젝트 : 분석   ->   설계  ->  구현  -> 테스트 -> 고객에게 배포 -> 유지보수
                프로토타입(SQLite)       완제품(Oracle, MySQL, Maria, ..)
- [DB browser for SQLite](https://sqlitebrowser.org/dl/)
## 1.1 SQLite browser 설치 및 sqlite 패키지 load

In [2]:
import sqlite3
sqlite3.sqlite_version # 버전

'3.40.1'

In [3]:
import pandas as pd
pd.__version__

'1.5.3'

## 1.2 데이터 베이스 연결
- (1) 데이터베이스 연결 생성
- (2) SQL 전송 객체 생성(cursor)
- (3) SQL 전송 & 결과 받기(cursor.execute()이용)
- (4) cursor 해제 & 데이터베이스연결객체 해제

In [4]:
# (1)DB 연결 : sqlite로 연결시 DB파일이 없으면 빈 DB파일 생성하고 연결, 있으면 연결
conn = sqlite3.connect('data/ch15_example.db')
conn

In [5]:
# (2) SQL 전송 객체 생성(cursor 객체)
cursor = conn.cursor()
cursor

In [8]:
cursor.execute('''
    CREATE TABLE MEMBER(
        NAME TEXT, 
        AGE  INT,
        EMAIL TEXT
    )
''')

In [7]:
cursor.execute('DROP TABLE MEMBER')

In [ ]:
cursor.execute('''
    CREATE TABLE MEMBER(
        NAME TEXT, 
        AGE  INT,
        EMAIL TEXT
    )
''')

In [9]:
cursor.execute('INSERT INTO MEMBER VALUES (\'홍길동\', 20, \'h@h.com\')')
print('수행결과 행수 :', cursor.rowcount)

수행결과 행수 : 1

In [10]:
sql = "INSERT INTO MEMBER VALUES ('김길동', 30, 'K@K.COM')"
cursor.execute(sql)
print('수행 결과 행수 :', cursor.rowcount)
cursor.execute("INSERT INTO MEMBER VALUES ('이길동', 25, 'l@l.com')")
print('수행 결과 행수 :', cursor.rowcount)

수행 결과 행수 : 1
수행 결과 행수 : 1

In [11]:
conn.commit() # (반)conn.rollback()

In [12]:
# select 전송 결과 : cursor가 가리킴
cursor.execute("SELECT * FROM MEMBER")

In [13]:
# insert, update, delete문 실행 결과 : cursor.rowcount
# select문 실행 결과 : 
        ## fetchall() : 결과를 모두 받을 때(튜플 list)
        ## fetchone() : 결과를 한행씩 받을 때(튜플)
        ## fetchmany(n) : 결과를 n행 받을 때(튜플 list)
print(cursor.fetchall())

[('홍길동', 20, 'h@h.com'), ('김길동', 30, 'K@K.COM'), ('이길동', 25, 'l@l.com')]

In [14]:
print(cursor.fetchall()) # 한번 소요된 cursor 객체는 다시 fetch될 수 없음

[]

In [15]:
# 한꺼번에 읽기
cursor.execute("SELECT * FROM MEMBER ORDER BY AGE")
members = cursor.fetchall()
members

[('홍길동', 20, 'h@h.com'), ('이길동', 25, 'l@l.com'), ('김길동', 30, 'K@K.COM')]

In [16]:
for member in members:
    print(member)

('홍길동', 20, 'h@h.com')
('이길동', 25, 'l@l.com')
('김길동', 30, 'K@K.COM')

In [17]:
# 하나씩 읽기
cursor.execute("SELECT * FROM MEMBER ORDER BY AGE")
members = []
while True:
    member = cursor.fetchone()
    if member is None:
        print('데이터 끝')
        break
    members.append(member)

데이터 끝

In [18]:
members

[('홍길동', 20, 'h@h.com'), ('이길동', 25, 'l@l.com'), ('김길동', 30, 'K@K.COM')]

In [19]:
# 최상위 n행 읽기
cursor.execute("SELECT * FROM MEMBER ORDER BY AGE")
for member in cursor.fetchmany(2):
    print(member)

('홍길동', 20, 'h@h.com')
('이길동', 25, 'l@l.com')

In [20]:
cursor.description

(('NAME', None, None, None, None, None, None),
 ('AGE', None, None, None, None, None, None),
 ('EMAIL', None, None, None, None, None, None))

In [21]:
class Member:
    'Member 테이블의 내용을 받을 객체 타입'
    def __init__(self, name, age, email):
        self.name = name
        self.age  = age
        self.email = email
    def __str__(self):
        return "{}\t{}\t{}".format(self.name, self.age, self.email)
def to_member(*row): # 튜플매개변수를 받아 Member형 객체를 return
    return Member(row[0], row[1], row[2])

In [22]:
member = to_member('홍길동', 20, 'h@h.com')
print(member)

홍길동	20	h@h.com

In [23]:
cursor.execute('SELECT * FROM MEMBER')
member_list = [] # sql문 수행한 결과를 담을 객체 list
members = cursor.fetchall() # 튜플 list
# print(members)
for member in members:
    member_list.append(to_member(*member))

In [24]:
for member in member_list:
    print(member)

홍길동	20	h@h.com
김길동	30	K@K.COM
이길동	25	l@l.com

In [25]:
# (4) 연결 해제
cursor.close()
conn.close()

## 1.3 SQL 구문에 파라미터 사용하기
- qmark(DB에 따라 불가한 경우 있음)
- named(추천)

In [2]:
import sqlite3
conn = sqlite3.connect('data/ch15_example.db')
cursor = conn.cursor()
cursor.execute("SELECT * FROM MEMBER WHERE NAME IN ('홍길동','김길동')")
cursor.fetchall()

[('홍길동', 20, 'h@h.com'), ('김길동', 30, 'K@K.COM')]

In [3]:
# 파라미터 사용하기 : qmark 방법 
name1 = input('검색할 이름1?')
name2 = input('검색할 이름2?')
# cursor.execute("SELECT * FROM MEMBER WHERE NAME IN ('"+name1+"','"+name2+"')")
# cursor.execute(f"SELECT * FROM MEMBER WHERE NAME IN ('{name1}','{name2}')")
cursor.execute("SELECT * FROM MEMBER WHERE NAME IN (?, ?)", (name1, name2))
cursor.fetchall()

검색할 이름1?
검색할 이름2?

[]

In [4]:
# 파라미터 사용하기 : named 방법 
name1 = input('검색할 이름1?')
name2 = input('검색할 이름2?')
cursor.execute("SELECT * FROM MEMBER WHERE NAME IN (:name1, :name2)", {'name1':name1, 
                                                                       'name2':name2})
cursor.fetchall()

검색할 이름1?홍길동
검색할 이름2?김길동

[('홍길동', 20, 'h@h.com'), ('김길동', 30, 'K@K.COM')]

In [5]:
class Member:
    'Member 테이블의 내용을 받을 객체 타입'
    def __init__(self, name, age, email):
        self.name = name
        self.age  = age
        self.email = email
    def __str__(self):
        return "{}\t{}\t{}".format(self.name, self.age, self.email)
def to_member(*row): # 튜플매개변수를 받아 Member형 객체를 return
    return Member(row[0], row[1], row[2])

In [6]:
# Member 테이블에 입력 (사용자로부터 이름, 나이, 메일을 받아 insert)
try :
    name = input('입력할 이름 :')
    age  = int(input('입력할 나이 :'))
except:
    print('유효하지 않은 나이를 입력한 경우, 18세로 초기화')
    age = 18
finally:
    email = input('입력할 메일은 :')
inputdata = {'name':name, 'age':age, 'email':email} # named방식에서 사용
inputdata2 = (name, age, email) # qmark방식에서 사용
sql = "INSERT INTO MEMBER VALUES (:name, :age, :email)"
cursor.execute(sql, inputdata)
conn.commit()
if cursor.rowcount:
    print('저장완료')

입력할 이름 :마길동
입력할 나이 :ㅁ
유효하지 않은 나이를 입력한 경우, 18세로 초기화
입력할 메일은 :
저장완료

In [7]:
# Member 테이블에 입력 (사용자로부터 이름, 나이, 메일을 받아 insert)
try :
    name = input('입력할 이름 :')
    age  = int(input('입력할 나이 :'))
except:
    print('유효하지 않은 나이를 입력한 경우, 18세로 초기화')
    age = 18
finally:
    email = input('입력할 메일은 :')
newMember = Member(name, age, email)
# print(newMember)
# print(newMember.__dict__)
sql = "INSERT INTO MEMBER VALUES (:name, :age, :email)"
cursor.execute(sql, newMember.__dict__)
conn.commit()
if cursor.rowcount==1:
    print('입력 성공')

입력할 이름 :이길동
입력할 나이 :ㅁ
유효하지 않은 나이를 입력한 경우, 18세로 초기화
입력할 메일은 :o@o.com
입력 성공

In [8]:
while True:
    try :
        name = input('입력할 이름(종료는 0) :')
        if name=='0':
            break;
        age  = int(input('입력할 나이 :'))
    except:
        print('유효하지 않은 나이를 입력한 경우, 18세로 초기화')
        age = 18
    email = input('입력할 메일은 :')
    newMember = Member(name, age, email)
    # print(newMember)
    # print(newMember.__dict__)
    sql = "INSERT INTO MEMBER VALUES (:name, :age, :email)"
    cursor.execute(sql, newMember.__dict__)
    if cursor.rowcount==1:
        print('입력 성공')
conn.commit()

입력할 이름(종료는 0) :김길자
입력할 나이 :44
입력할 메일은 :
입력 성공
입력할 이름(종료는 0) :홍홍자
입력할 나이 :a
유효하지 않은 나이를 입력한 경우, 18세로 초기화
입력할 메일은 :h@h.com
입력 성공
입력할 이름(종료는 0) :0

In [9]:
cursor.close()
conn.close()

# 2절 오라클 데이터 베이스 연결
- pip install cx_oracle (oracle 11g까지)
- pip install oracledb (oracle 12부터)

In [10]:
import cx_Oracle
cx_Oracle.__version__

'8.3.0'

In [11]:
# conn 얻어오는 방법1
conn = cx_Oracle.connect("scott","tiger", "localhost:1521/xe")
cursor = conn.cursor()
sql = 'SELECT EMPNO "NO", ENAME, JOB, MGR, HIREDATE, SAL, COMM, DEPTNO FROM EMP'
cursor.execute(sql)
emp = cursor.fetchall()
print(emp)

DatabaseError: ORA-12514: TNS:listener does not currently know of service requested in connect descriptor

In [12]:
# conn 얻어오는 방법2
import oracledb
oracledb.init_oracle_client()
# conn = oracledb.connect("scott/tiger@localhost:1521/xe")
conn = oracledb.connect(
    user="scott",
    password="tiger",
    host="localhost",
    port=1521,
    sid="xe"
)
cursor = conn.cursor()
sql = 'SELECT EMPNO "NO", ENAME, JOB, MGR, HIREDATE, SAL, COMM, DEPTNO FROM EMP'
cursor.execute(sql)
emp = cursor.fetchall()
print(emp)

DatabaseError: ORA-12505: TNS:listener does not currently know of SID given in connect descriptor

In [13]:
import pandas as pd
emp_df = pd.DataFrame(emp)
emp_df

NameError: name 'emp' is not defined

In [ ]:
# select문을 수행한 필드 정보 (NO, ENAME, JOB, ~)
cursor.description

In [ ]:
[description[0] for description in cursor.description]

In [ ]:
emp_df.columns = [description[0] for description in cursor.description]
emp_df.head()

In [ ]:
# 검색할 이름을 사용자에게 받아 해당 내용을 출력
ename = input('검색할 이름은?').upper()
# print(ename)
sql = 'SELECT * FROM EMP WHERE ENAME = :ename'
cursor.execute(sql, {'ename':ename})
emp = cursor.fetchall()
if emp:
    print(emp[0])
else:
    print('입력하신 데이터는 없습니다')

In [ ]:
fieldnames=[descript[0] for descript in cursor.description]
fieldnames

In [ ]:
for fieldname, data in zip(fieldnames, emp[0]):
    print("{}:{}".format(fieldname,data if data is not None else ' -'))

In [ ]:
cursor.close()
conn.close()

# 3절 MySQL 데이터베이스 연결
- pip install mysql-connector-python (공식 connecter)
- pip install PyMySQL  (경량)

In [ ]:
%pip install PyMySQL

In [ ]:
import pymysql
conn = pymysql.connect(
    host="localhost",
    user="root",
    password="mysql",
    db="devdb",
    charset="utf8mb4"
)
cursor =conn.cursor()
sql = "SELECT * FROM PERSONAL"
cursor.execute(sql)
personal = cursor.fetchall()
fieldnames =[descript[0] for descript in cursor.description]
pd.DataFrame(personal, columns=fieldnames)

In [ ]:
cursor.close()
conn.close()

# 4절 연습문제
## 실습형
- 회원가입|전체조회|이름찾기|메일삭제|csv보내기|종료

### 0. 처음실행

In [ ]:
def load_cursor():
    global conn
    import oracledb
    oracledb.init_oracle_client()
    conn = oracledb.connect("scott/tiger@localhost:1521/xe")
load_cursor()

### 1. 입력

In [ ]:
def fn1_insert_member_info():
    '입력받은 데이터를 member테이블에 입력'
    cursor=conn.cursor()
    name = input('이름 :')
    tel  = input('전화 :')
    email= input('이메일 :')
    try:
        age = int(input('나이 :'))
        if age>200:
            age=200
        elif age<0:
            age=0
    except:
        print('유효하지 않은 나이 입력시 나이는 0으로 초기화')
        age=0
    try:
        grade = int(input('등급 :'))
        if grade<1:
            grade=1
        elif grade>5:
            grade=5
    except:
        print('유효하지 않은 등급 입력시 등급은 1로 초기화')
        grade=1
    etc = input('기타정보 :')
    sql = "INSERT INTO MEMBER VALUES (:name, :tel, :email, :age, :grade, :etc)"
    inputdata = {'name':name,'tel':tel,'email':email,'age':age,'grade':grade,'etc':etc}
    cursor.execute(sql,inputdata)
    conn.commit()
    if cursor.rowcount==1:
        print(name,'님 가입 완료')
    cursor.close()
fn1_insert_member_info()

### 2. 전체조회

In [ ]:
def fn2_print_members():
    'member 테이블의 내용을 데이터프레임으로 display'
    import pandas as pd
    cursor=conn.cursor()
    sql = "SELECT * FROM MEMBER ORDER BY NAME"
    cursor.execute(sql)
    member = cursor.fetchall()
    fieldnames = [descript[0] for descript in cursor.description]
    df_member = pd.DataFrame(member)
    display(df_member)
    cursor.close()

In [ ]:
fn2_print_members()

### 3. 이름조회

In [ ]:
def fn3_search_member():
    '찾고자하는 이름을 input으로 받아 해당 내용을 데이터프레임으로 display'
    import pandas as pd
    cursor = conn.cursor()
    name = input('찾고자 하는 이름은 ?')
    sql = "SELECT * FROM MEMBER WHERE NAME=:name"
    cursor.execute(sql, {'name':name})
    members = cursor.fetchall()
    fieldnames = [description[0] for description in cursor.description]
    if members:
        df = pd.DataFrame(members, columns=fieldnames)
        display(df)
    else:
        print('해당 이름의 회원이 없습니다')
    cursor.close()

In [ ]:
fn3_search_member()

### 4. 메일 삭제

In [ ]:
def fn4_delete_member():
    '삭제하고자 하는 메일을 input으로 받아 해당 행을 삭제'
    cursor = conn.cursor()
    email = input('삭제하고자 하는 메일은?')
    sql = "DELETE FROM MEMBER WHERE EMAIL=:email"
    cursor.execute(sql, {'email':email})
    if cursor.rowcount:
        print(f'해당 메일({email})을 삭제하였습니다')
    else:
        print('해당 메일의 회원이 없습니다')
    cursor.close()

In [ ]:
fn4_delete_member()

### 5. csv 내보내기

In [ ]:
def fn5_save_csv():
    'member 테이블 내용을 csv로 내보내기'
    import pandas as pd
    cursor = conn.cursor()
    sql = "SELECT * FROM MEMBER ORDER BY NAME"
    cursor.execute(sql)
    fieldnames = [description[0] for description in cursor.description]
    df = pd.DataFrame(cursor.fetchall(), columns=fieldnames)
    df.to_csv('data/ch15_member.csv', index=False)
    cursor.close()

In [ ]:
fn5_save_csv()

In [ ]:
load_cursor()
while True:
    menu = input("1.회원입력 | 2.전체조회 | 3.이름찾기 | 4.메일삭제 | 5.CSV내보내기 | 0.종료")
    if menu=='1':
        fn1_insert_member_info()
    elif menu=='2':
        fn2_print_members()
    elif menu=='3':
        fn3_search_member()
    elif menu=='4':
        fn4_delete_member()
    elif menu=='5':
        fn5_save_csv()
    elif menu=='0':
        conn.close()
        break
    else:
        print('유효한 메뉴 번호를 입력해 주세요')