In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:90% !important;}
div.cell.code_cell.rendered{width:100%;}
div.input_prompt{padding:0px;}
div.CodeMirror {font-family:Consolas; font-size:12pt;}
div.text_cell_render.rendered_html{font-size:12pt;}
div.output {font-size:12pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:12pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:12px;}
</style>
"""))

<b><font size="6" color="red">ch09. 파일 i/o 프로그래밍</font></b>
- 파일 : txt, pickle(머신러닝모델저장, 배열저장), csv, json, h5(딥러닝모델저장)
## 1절 txt파일에 데이터 저장하고 불러오기

In [2]:
# mode = 'r' 또는 'rt' : 텍스트 읽기모드로 열기. 파일이 없을 경우 예외 발생
# mode = 'w' 또는 'wt' : 텍스트 쓰기모드로 열기. 폴더가 없을 경우 예외 발생
                    # 파일이 없으면 생성. 파일이 없으면 생성. 파일리 있으면 덮어씀
# mode = 'a' 또는 'at' : 텍스트 쓰기모드로 열기. 폴더가 없을 경우 예외 발생
                    # 파일이 없으면 생성. 파일이 있으면 뒤에 append
f = open('data/ch09.txt', 'w') # encoding='cp949'(win)
print('쓰기 가능한지 :', f.writable())
f.write('Hello\nWorld\n')
f.close()

쓰기 가능한지 : True

In [3]:
# with 구문을 사용하면 매번 close()하는 코드가 불필요
with open('data/ch09.txt','wt') as f:
    print('쓰기 가능한지 :', f.writable())
    f.write('Python is easy.\nPython is smart.\n')

쓰기 가능한지 : True

In [4]:
with open('data/ch09.txt', 'a') as f: # 
    print('프린트 함수로 파일 쓰기가 가능합니다-파일출력', file=f)
    print('프린트 함수로 파일 쓰기가 가능합니다-콘솔출력')

프린트 함수로 파일 쓰기가 가능합니다-콘솔출력

- 한글 읽기/쓰기
    * cp949(한글완성형확장형) : open함수의 기본 인코딩(win)
    * utf-8(한글조합형) : 주피터노트북에서 열기

In [5]:
with open('data/ch09.txt',"w",encoding='UTF-8') as f:
    # 방법1
    f.write('홍길동, 30, 서울\n')
    f.write('김길동, 20, 수원\n')
    # 방법2
    textlist = ['홍길동, 30, 서울\n', '김길동, 20, 부산\n']
    for line in textlist:
        f.write(line)
    # 방법3
    f.writelines(textlist) # 리스트를 한꺼번에 write

In [6]:
# 파일을 한꺼번에 읽어오기
with open('data/ch09.txt', 'rt', encoding='UTF-8') as f:
    filecontent = f.read()
filecontent

'홍길동, 30, 서울\n김길동, 20, 수원\n홍길동, 30, 서울\n김길동, 20, 부산\n홍길동, 30, 서울\n김길동, 20, 부산\n'

In [7]:
# 파일을 한줄 읽고 출력하고, 한줄 읽고 출력,...
with open('data/ch09.txt', 'r', encoding="utf-8") as txtfile:
    line = txtfile.readline()
    while line !='':
        print(line, end='') # line에 \n이 포함되어 있어 출력시 개행은 제거
        line = txtfile.readline()

홍길동, 30, 서울
김길동, 20, 수원
홍길동, 30, 서울
김길동, 20, 부산
홍길동, 30, 서울
김길동, 20, 부산

In [8]:
# 파일을 한꺼번에 읽어, 한줄씩 list 담아 return
with open('data/ch09.txt', 'r', encoding="utf-8") as txtfile:
    lines = txtfile.readlines()
print(lines)

['홍길동, 30, 서울\n', '김길동, 20, 수원\n', '홍길동, 30, 서울\n', '김길동, 20, 부산\n', '홍길동, 30, 서울\n', '김길동, 20, 부산\n']

In [9]:
for line in lines:
    print(line, end='')

홍길동, 30, 서울
김길동, 20, 수원
홍길동, 30, 서울
김길동, 20, 부산
홍길동, 30, 서울
김길동, 20, 부산

# 2절 피클을 이용한 객체 저장 및 불러오기
- 머신러닝 모델저장, 배열저장, 객체저장
## 2.1 형식이 있는 텍스트 데이터 불러오기

In [10]:
with open('data/ch09_member.txt', 'r', encoding='UTF-8') as f:
    lines = f.readlines()
#print(lines)
for line in lines:
    # print(line)
    data = line.split(', ')
    # print(data)
    name = data[0]
    age = int(data[1])
    email = data[2]
    address = data[3].strip()
    print({'name':name,
           'age':age,
           'email':email,
           'address':address})

{'name': '홍길동', 'age': 20, 'email': 'kildong@hong.com', 'address': '서울시 관악구'}
{'name': '홍길숙', 'age': 25, 'email': 'kilsuk1@hong.com', 'address': '서울시 영등포구'}
{'name': '신길동', 'age': 30, 'email': 'shinkil@hong.com', 'address': '서울시 동작구'}

In [11]:
class Member:
    def __init__(self, name, age, email, address):
        self.name = name
        self.age = age
        self.email = email
        self.address = address
    def __str__(self):
        return "{},{},{},{}".format(self.name, self.age, self.email, self.address)
#     def __eq__(self, other):
#         return self.name == other.name and \
#                 self.age == other.age and \
#                 self.email == other.email and \
#                 self.address == other.address
    def __eq__(self, other):
        return self.__str__() == other.__str__()
    def as_dict(self):
        '객체를 딕셔너리로 바꿔 return(json파일 저장시 필요)'
        return self.__dict__
#         return{"name":self.name,
#                 "age":self.age,
#                 "email":email,
#                 "address":adress}

In [12]:
member1 = Member("신길동", 30, 'shinkil@hong.com', '서울시 동작구')
member2 = Member("신길동", 30, 'shinkil@hong.com', '서울시 동작구')
print(member1)
print(member2)
print(member2==member1)
print(member2.__eq__(member1))
print(member1.__dict__)

신길동,30,shinkil@hong.com,서울시 동작구
신길동,30,shinkil@hong.com,서울시 동작구
True
True
{'name': '신길동', 'age': 30, 'email': 'shinkil@hong.com', 'address': '서울시 동작구'}

## 2.2 피클링
- 객체리스트 -> 피클파일로 쓰기
- 피클파일 -> 객체리스트로 읽기

In [13]:
# ch09_member.txt파일 -> 객체list, 딕셔너리list로 읽어오기
member_list = [] # Member객체 list
dict_list   = [] # 딕셔너리 list
with open('data/ch09_member.txt', 'r', encoding='UTF-8') as f:
    lines = f.readlines()
for line in lines:
    data = line.split(',')
    data = [item.strip() for item in data]
    name = data[0]
    age = int(data[1])
    email = data[2]
    address = data[3]
    member = Member(name, age, email, address)
    member_list.append(member)
    dict_list.append(member.__dict__)

In [14]:
for member in member_list: # 객체 list
    print(member)

홍길동,20,kildong@hong.com,서울시 관악구
홍길숙,25,kilsuk1@hong.com,서울시 영등포구
신길동,30,shinkil@hong.com,서울시 동작구

In [15]:
# 피클링(확장자 : pkl, pickle, data)을 이용한 객체를 파일에 저장하기
import pickle
with open('data/ch09_member.pkl', 'wb') as f:
    pickle.dump(member_list, f)

In [16]:
# 피클링을 이용한 파일을 객체리스트로 읽기
with open('data/ch09_member.pkl', 'rb') as f:
    load_member_list = pickle.load(f)

In [17]:
id(member_list), id(load_member_list)

(2045055551680, 2045055539136)

In [18]:
for idx in range(len(member_list)):
    print(idx, '번째 비교 :', (member_list[idx]==load_member_list[idx]))

0 번째 비교 : True
1 번째 비교 : True
2 번째 비교 : True

In [19]:
for idx, (member, load_member) in enumerate(zip(member_list, load_member_list)):
    print(idx, '번째 비교 :', member==load_member)

0 번째 비교 : True
1 번째 비교 : True
2 번째 비교 : True

In [20]:
result = [] # 비교결과(True/False)를 append
for member, load_member in zip(member_list, load_member_list):
    result.append(member==load_member)
result

[True, True, True]

In [21]:
all(result) # 모든 요소들이 True인지 여부

True

In [22]:
all([True, True, True, False])

False

# 3절 CSV 파일 읽기/쓰기
- CSV파일의 자료를 리스트 데이터로 읽고 쓰기 (3.1과 3.2)
- CSV파일의 자료를 딕셔너리 데이터로 읽고 쓰기 (3.2과 3.4)
## 3.1 reader

In [23]:
import csv
with open('data/ch09_member1.csv', 'r', encoding='utf-8') as f:
    reader = csv.reader(f)
    result = list(reader)
result

[['홍길동', '20', 'kildong@hong.com', '서울시 관악구'],
 ['김길동', '40', 'kimdong@hong.com', '서울시 영등포구'],
 ['신길동', '30', 'sindong@hong.com', '서울시 동작구']]

In [24]:
with open('data/ch09_member1-cp.csv','r') as f:
    reader = csv.reader(f)
    for row in reader:
        print(row)

['홍길동', '20', 'kildong@hong.com', '서울시 관악구', '']
['김길동', '40', 'kimdong@hong.com', '서울시 영등포구', '팀장']
['신길동', '30', 'sindong@hong.com', '서울시 동작구', '']

In [25]:
# ""(따옴표)가 없는 데이터는 numeric으로
with open('data/ch09_member1.csv','r', encoding="utf-8") as f:
    reader = csv.reader(f, 
                        quoting = csv.QUOTE_NONNUMERIC)
    for row in reader:
        print(row)

['홍길동', 20.0, 'kildong@hong.com', '서울시 관악구']
['김길동', 40.0, 'kimdong@hong.com', '서울시 영등포구']
['신길동', 30.0, 'sindong@hong.com', '서울시 동작구']

## 3.2 writer
- list -> csv로 저장

In [26]:
user_list = [['신길동', 30, 'sindong@hong.com', '서울시 관악구'],
            ['홍길동', 20, 'kildong@hong.com', '서울시 동작구'],
            ['박길동', 25, 'kimdong@hong.com', '서울시 서초구']]

In [27]:
# newline='' 옵션 빼면 개행이 2번(python 3.10)
try:
    with open('data/ch09_member2-write.csv', 'w', newline='') as f:
        writer = csv.writer(f)
#         for user in user_list:
#             writer.writerow(user)
        writer.writerows(user_list)
except FileNotFoundError as e:
    print(e)

## 3.3 DictReader
- csv파일을  딕셔너리 데이터로 읽기

In [28]:
import csv
# header가 있는 csv파일을 딕셔너리로 읽기(ch09_member3.csv)
with open('data/ch09_member3.csv', 'r', encoding='utf-8') as f:
    dict_reader = csv.DictReader(f)
    result = list(dict_reader)
result

[{'name': '홍길동',
  'age': '20',
  'email': 'h@h.com',
  'address': '서울시 관악구',
  'job': None},
 {'name': '신길동',
  'age': '40',
  'email': 's@h.com',
  'address': '서울시 영등포구',
  'job': '팀장'},
 {'name': '김길동',
  'age': '30',
  'email': 'k@h.com',
  'address': '서울시 동작구',
  'job': None}]

In [29]:
with open('data/ch09_member3.csv', 'r', encoding='utf-8') as f:
    dict_reader = csv.DictReader(f,restval="없음")
    for row in dict_reader:
        print(row)

{'name': '홍길동', 'age': '20', 'email': 'h@h.com', 'address': '서울시 관악구', 'job': '없음'}
{'name': '신길동', 'age': '40', 'email': 's@h.com', 'address': '서울시 영등포구', 'job': '팀장'}
{'name': '김길동', 'age': '30', 'email': 'k@h.com', 'address': '서울시 동작구', 'job': '없음'}

In [30]:
# csv파일을 데이터프레임 데이터로 읽기
import pandas as pd
members = pd.read_csv('data/ch09_member3.csv') # 기본 인코딩 방식이 encoding='utf-8'
members

  name  age    email   address  job
0  홍길동   20  h@h.com   서울시 관악구  NaN
1  신길동   40  s@h.com  서울시 영등포구   팀장
2  김길동   30  k@h.com   서울시 동작구  NaN

In [31]:
type(members)

pandas.core.frame.DataFrame

In [32]:
pd.DataFrame(data=result)

  name age    email   address   job
0  홍길동  20  h@h.com   서울시 관악구  None
1  신길동  40  s@h.com  서울시 영등포구    팀장
2  김길동  30  k@h.com   서울시 동작구  None

In [33]:
# header가 없는 csv파일을 딕셔너리 데이터로 읽기(ch09_member1-cp.csv)
with open('data/ch09_member1-cp.csv', 'r') as f:
    dict_reader = csv.DictReader(f,fieldnames=["name", 'age', 'email', 'address', 'job'])
    for row in dict_reader:
        print(row)

{'name': '홍길동', 'age': '20', 'email': 'kildong@hong.com', 'address': '서울시 관악구', 'job': ''}
{'name': '김길동', 'age': '40', 'email': 'kimdong@hong.com', 'address': '서울시 영등포구', 'job': '팀장'}
{'name': '신길동', 'age': '30', 'email': 'sindong@hong.com', 'address': '서울시 동작구', 'job': ''}

In [34]:
# header가 없는 csv파일을 딕셔너리 데이터로 읽기(ch09_member1-cp.csv)
with open('data/ch09_member1-cp.csv', 'r') as f:
    dict_reader = csv.DictReader(f, fieldnames=['name','Age','Email','Address'],
                                restkey='Job')
    for row in dict_reader:
        print(row)

{'name': '홍길동', 'Age': '20', 'Email': 'kildong@hong.com', 'Address': '서울시 관악구', 'Job': ['']}
{'name': '김길동', 'Age': '40', 'Email': 'kimdong@hong.com', 'Address': '서울시 영등포구', 'Job': ['팀장']}
{'name': '신길동', 'Age': '30', 'Email': 'sindong@hong.com', 'Address': '서울시 동작구', 'Job': ['']}

## 3.4 DictWriter
- 딕셔너리 데이터(딕셔너리 list)를 csv파일로

In [35]:
user1 = {'name': '신길동', 'age': '30', 'email': 'sg@hong.com', 'address': '서울'}
user2 = {'name': '홍길동', 'age': '20', 'email': 'ho@hong.com', 'address': '수원'}
user3 = {'name': '마길동', 'age': '25', 'email': 'ma@hong.com', 'address': '안양'}
user_list = [user1, user2, user3]
user_list

[{'name': '신길동', 'age': '30', 'email': 'sg@hong.com', 'address': '서울'},
 {'name': '홍길동', 'age': '20', 'email': 'ho@hong.com', 'address': '수원'},
 {'name': '마길동', 'age': '25', 'email': 'ma@hong.com', 'address': '안양'}]

In [36]:
fieldnames =list(user1.keys())
fieldnames

['name', 'age', 'email', 'address']

In [37]:
with open('data/ch09_member4.csv', 'w', encoding='utf-8', newline='') as f:
    dict_writer = csv.DictWriter(f, fieldnames=fieldnames)
    dict_writer.writeheader() # header 한줄 쓰기
#     for user in user_list:
#         dict_writer.writerow(user)
    dict_writer.writerows(user_list)

# 4절 JSON 파일에 저장하고 불러오기(dump, load)
```
[{'title' : '국가정보원 화재', 'url' : 'http:\\~', 'content':'무시기무시기~'},
{'title' : '국가정보원 화재', 'url' : 'http:\\~', 'content':'무시기무시기~'},
{'title' : '국가정보원 화재', 'url' : 'http:\\~', 'content':'무시기무시기~'}]
```
## 4.1 JSON dump(파일에 저장)
### (1) 딕셔너리 list를 json파일로 저장
### (2) 객체 list를 json파일로 저장(객체를 딕셔너리로 바꾸는 함수 필요)

In [38]:
data = [{'name': '홍길동', 'age': '30', 'email': 'hg@hong.com', 'address': '서울'},
       {'name': '박길동', 'age': '20', 'email': 'pg@hong.com', 'address': '부산'},
        {'name': '신길동', 'age': '25', 'email': 'sg@hong.com', 'address': '대전'}]
data

[{'name': '홍길동', 'age': '30', 'email': 'hg@hong.com', 'address': '서울'},
 {'name': '박길동', 'age': '20', 'email': 'pg@hong.com', 'address': '부산'},
 {'name': '신길동', 'age': '25', 'email': 'sg@hong.com', 'address': '대전'}]

In [39]:
# ensure_ascii 옵션의 역할 : ASCII 코드를 넘어선 문자를 어떻게 처리할지
# 기본값(True) : ASCII 코드 범위를 넘어선 글자는 유니코드로 저장
# False : 비/ASCII 문자는 원래 형태로 그대로 저장
import json
with open('data/ch09_member1.json', 'w') as jsonfile:
    json.dump(data, # 딕셔너리 리스트
             jsonfile, # 파일 스트림
             ensure_ascii=False, # 비ASCII 코드문자 처리 여부
             indent=' ') # 들여쓰기 여부

### (2) 객체 list를 json파일로 저장

In [40]:
class Member:
    def __init__(self, name, age, email, address):
        self.name = name
        self.age = age
        self.email = email
        self.address = address
    def __str__(self):
        return "{},{},{},{}".format(self.name, self.age, self.email, self.address)

    def __eq__(self, other):
        return self.__str__() == other.__str__()
    def as_dict(self):
        '객체를 딕셔너리로 바꿔 return(json파일 저장시 필요)'
        return self.__dict__

In [41]:
member_list =[Member('홍길동', 30, 'h@h.com', '서울'),
              Member('마길동', 25, 'm@h.com', '하남'),
              Member('박길동', 35, 'h@h.com', '대전')]
[member.__str__() for member in member_list]

['홍길동,30,h@h.com,서울', '마길동,25,m@h.com,하남', '박길동,35,h@h.com,대전']

In [42]:
with open('data/ch09_member2.json', 'w', encoding="utf-8") as jsonfile:
    json.dump(member_list, # 저장할 리스트(객체 리스트)
             jsonfile,
             ensure_ascii=False,
             indent='\t',
             default=Member.as_dict)# 객체를 딕셔너리 형태로 return하는 함수

## 4.2 JSON  load(파일 읽기)
### (1) json파일을 딕셔너리 리스트로 읽기
### (2) json파일을 객체리스트로 읽기(딕셔너리를 객체로 return하는 함수가 필요)

In [43]:
### (1) json파일을 딕셔너리 리스트로 읽기
with open('data/ch09_member1.json', 'r') as jsonfile:
    load_data = json.load(jsonfile)
load_data

[{'name': '홍길동', 'age': '30', 'email': 'hg@hong.com', 'address': '서울'},
 {'name': '박길동', 'age': '20', 'email': 'pg@hong.com', 'address': '부산'},
 {'name': '신길동', 'age': '25', 'email': 'sg@hong.com', 'address': '대전'}]

In [44]:
type(load_data), type(load_data[0])

(list, dict)

In [45]:
### (2) json파일을 객체리스트로 읽기(딕셔너리를 객체로 return하는 함수가 필요)
# {'name':'홍', 'age':'3', 'email':'h@h','address':'설'} => Member('홍','3','h@h','설')
def as_member(dic):
    return Member(dic.get('name'),
                 dic.get('age'),
                 dic.get('email'),
                 dic.get('address')
                 )

In [46]:
with open('data/ch09_member2.json', 'r', encoding='utf-8') as jsonfile:
    load_member_list = json.load(jsonfile,
                                object_hook=as_member) # 딕셔너리 객체로 return 함수
for load_member in load_member_list:
    print(load_member)

홍길동,30,h@h.com,서울
마길동,25,m@h.com,하남
박길동,35,h@h.com,대전

In [47]:
result = [] # list내 객체들끼리 비교 결과
for idx, (member, load_member) in enumerate(zip(member_list, load_member_list)):
    result.append(member==load_member)
print('두 객체 리스트의 모든 데이터가 일치하는지 여부 :', all(result))

두 객체 리스트의 모든 데이터가 일치하는지 여부 : True

In [48]:
# False인 곳의 index가 궁금?
import numpy as np
result =np.array([True, True, True, False, True, False])
type(result)
np.where(result==False)

(array([3, 5], dtype=int64),)

In [49]:
result = set() # 빈 셋/ {}: 빈 딕셔너리
for member, load_member in zip(member_list, load_member_list):
    result.add(member==load_member)
result

{True}

# 5절 hdf5파일 쓰기/읽기
- *.hdf5나 *.h5 파일을 볼 수 있는 hdfviewer를 설치
- 딕셔너리, 데이터프레임, 딥러닝 모델

In [50]:
# seaborn : 파이썬에서 데이터 시각화를 도와주는 라이브러리로 자주 쓰이는 데이터 셋
import seaborn as sns
iris_df = sns.load_dataset("iris")
iris_df # 꽃의종, 꽃받침,꽃받침 너비, 꽃잎 길이, 꽃잎 너비

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [51]:
# 데이터 프레임을 hdf파일로 쓰기
iris_df.to_hdf('data/ch09_irisdf.hdf5', key='iris')

In [52]:
# hdf 파일을 데이터프레임으로 읽어오기
import pandas as pd
load_iris_df = pd.read_hdf('data/ch09_irisdf.hdf5', key='iris')
load_iris_df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [53]:
iris_df.equals(load_iris_df)

True

# 6절 연습문제:고객관리
- 프로그램 시작시
    *data/ch09_customers.txt(프로그램 종료시 백업용 데이터)파일이 있으면 파일을 customer_list에
    *data/ch09_customers.txt 파일이 없으면 빈 파일 생성(w모드 열어 close)
    *data/ch09_customers.txt 파일 내용
    ```
        홍길동, 010-9999-9999, k@hong.com, 30, 5, vvip
        유길동, 010-5432-2222, y@hong.com, 20, 2, 가칠해
    ```
## Customer 클래스 및 to_customer()함수 작성
    * Customer("홍길동", "010-9999-9999", "h@h", 30, 2, '기타') 객체 생성
    * 변수 : name, phone, email, age, grade, etc
    * 함수 : `__init__`, `__str__`, `as_dic`(객체를 딕셔너리로 return), to_text_style(객체를 text로)

In [5]:
class Customer:
    '고객 데이터'
    def __init__(self, name, phone, email, age, grade, etc):
        self.name = name
        self.phone = phone
        self.email = email
        self.age = age
        self.grade = grade
        self.etc = etc
    def as_dic(self):
        return self.__dict__
    def to_txt_style(self):
        return "{}, {}, {}, {}, {}, {}".format(self.name, self.phone, self.email,
                                              self.age, self.grade, self.etc)
    def __str__(self):
        return "{:>5}\t{:^3}\t{:^13}\t{:^10}\t{}\t{}".format('*'*self.grade,
                                                    self.name,
                                                    self.phone,
                                                    self.email,
                                                    self.age,
                                                    self.etc)

In [6]:
c1 = Customer("홍길동","010-9999-9999","h@h.com", 20, 3, "기타")
c2 = Customer("홍길동","010-9999-9999","h@h.com", 20, 5, "기타")
print(c1)
print(c2)
print(c1.to_txt_style())
print(c1.as_dic())

  ***	홍길동	010-9999-9999	 h@h.com  	20	기타
*****	홍길동	010-9999-9999	 h@h.com  	20	기타
홍길동, 010-9999-9999, h@h.com, 20, 3, 기타
{'name': '홍길동', 'phone': '010-9999-9999', 'email': 'h@h.com', 'age': 20, 'grade': 3, 'etc': '기타'}

In [7]:
def to_customer(text):
    'txt 파일 내용 한줄(홍길동, 010-8999-9999, e@e.com, 20, 3, 까칠해)을 Customer 객체로 반환'
    data = text.strip().split(', ')
    name = data[0]
    phone = data[1]
    email = data[2]
    age = int(data[3])
    grade = int(data[4])
    etc = data[5]
    return Customer(name, phone, email, age, grade, etc)

In [57]:
customer = to_customer('유길동, 010-5432-2222, y@hong.com, 20, 2, 가칠해')
print(customer)

   **	유길동	010-5432-2222	y@hong.com	20	가칠해

## 0. 처음실행
```
data/ch09_customers.txt 파일의 내용을 load(to_customer()함수를 이용해서 customer_list append)
data/ch09_customers.txt 파일이 존재하지 않으면(예외 발생)
    빈 data/ch09_customers.txt 파일 생성(w모드로 열고 닫으면) customer_list = []
```

In [8]:
def load_customers():
    customer_list = []
    # 파일 내용을 customer_list에 append한다. 예외발생시 파일 작성
    try:
        with open('data/ch09_customers.txt', 'r', encoding='utf-8') as f:
            # 방법1. 한줄씩 읽어서 customer_list에 append하기
#             line = f.readline()
#             while line != '':
#                 customer = to_customer(line)
#                 customer_list.append(customer)
#                 line = f.readline()
            # 방법2. 여러줄을 한꺼번에 읽어서 for문으로 append하기
            lines = f.readlines()
        for line in lines:
            customer = to_customer(line)
            customer_list.append(customer)
    except FileNotFoundError as e:
        with open('data/ch09_customers.txt', 'w', encoding='utf-8') as f:
            f.write('')
    return customer_list

In [9]:
# 위 함수 test
customer_list = load_customers()
[customer.__str__() for customer in customer_list]

['*****\t홍길동\t010-9999-9999\tk@hong.com\t30\tvvip',
 '   **\t유길동\t010-5432-2222\ty@hong.com\t20\t가칠해',
 '  ***\t신림동\t010-8888-8888\ts@song.com\t33\t글쎄',
 ' ****\t홍길동\t010-7777-7777\th@hong.com\t33\tvip']

## 1.입력

In [14]:
import re
name = "홍"
name_pattern = r'[a-zA-Z]{2,}'
print(re.search(name_pattern, name))

None

In [15]:
def fn1_insert_customer_info():
    'name(정규표현식 검증), phone, email, age, grade, etc입력받아 Customer형 객체 return'
    import re
    name = input('이름 :')
    name_pattern = r'[가-힣]{2,}'
    while not re.search(name_pattern, name):
        print('이름을 제대로 입력하세요(한글 2글자 이상)')
        name = input('이름 :')
    phone = input('전화 :')
#     phone_pattern = r'\d{2,3}[ \-\.)]?\d{3,4}[ \-\.]?\d{4}'
#     while not re.search(phone_pattern, phone):
#         print('이름을 제대로 입력하세요(한글 2글자 이상)')
#         phone = input('전화 :')
    email = input('메일 :')
    while True:
        try:
            age = int(input('나이 :'))
            if (age<0) or (age>130) :
                raise Exception('나이 범위 이상')
            break 
        except:
            print('올바른 나이를 입력하세요')
    try:
        grade = int(input('등급(1~5) : '))
        # grade = 1 if grade < 1 else 5 if grade>5 else grade
        if grade < 1:
            grade = 1
        if grade > 5:
            grade = 5
    except:
        print('유효하지 않은 등급 입력시 1등급으로 초기화')
        grade = 1
    etc = input('기타 정보 :')
    return Customer(name, phone, email, age, grade, etc)

In [16]:
# 1번 함수 테스트
customer_list = load_customers()
customer = fn1_insert_customer_info()
customer_list.append(customer)
for customer in customer_list:
    print(customer)

이름 :홍길동
전화 :010-9999-9999
메일 :m@hong.com
나이 :25
등급(1~5) : 1
기타 정보 :...
*****	홍길동	010-9999-9999	k@hong.com	30	vvip
   **	유길동	010-5432-2222	y@hong.com	20	가칠해
  ***	신림동	010-8888-8888	s@song.com	33	글쎄
 ****	홍길동	010-7777-7777	h@hong.com	33	vip
    *	홍길동	010-9999-9999	m@hong.com	25	...

## 2.전체 출력

In [17]:
def fn2_print_customers(customer_list):
    'customer_list 출력'
    print('='*70)
    print('{:^70}'.format('고객 정보'))
    print('='*70)
    print("{:>5}\t{:^3}\t{:^13}\t{:^10}\t{}\t{}".format('grade','이름','전화','메일','나이','기타') )
    print('-'*70)
    for customer in customer_list:
        print(customer)

In [18]:
# 위 2번 함수 test
fn2_print_customers(customer_list)

======================================================================
                                고객 정보
======================================================================
grade	이름 	     전화      	    메일    	나이	기타
----------------------------------------------------------------------
*****	홍길동	010-9999-9999	k@hong.com	30	vvip
   **	유길동	010-5432-2222	y@hong.com	20	가칠해
  ***	신림동	010-8888-8888	s@song.com	33	글쎄
 ****	홍길동	010-7777-7777	h@hong.com	33	vip
    *	홍길동	010-9999-9999	m@hong.com	25	...

## 3.삭제

In [19]:
# 동명이인이 없을 경우 삭제 구현
def fn3_delete_customer(customer_list):
    '삭제하고자 하는 고객이름을 받아 customer_list에서 삭제'
    name = input('삭제할 고객의 이름은?')
    for idx, customer in enumerate(customer_list):
        if customer.name == name:
            # 리스트에서 customer 삭제
            # customer_list.remove(customer)
            # 리스트에서 idx번째 삭제
            del customer_list[idx]
            print(name, '님 데이터를 삭제하였습니다')
            break
    else:
        print(name, '님이 데이터에 존재하지 않습니다')

In [20]:
# 위 3번 함수 test
fn3_delete_customer(customer_list)

삭제할 고객의 이름은?김길동
김길동 님이 데이터에 존재하지 않습니다

In [21]:
# 동명이인이 있을 경우(해당 동명이인을 다 삭제) 삭제 구현
def fn3_delete_customer(customer_list):
    '삭제하고자 하는 고객이름을 받아 customer_list에서 삭제'
    name = input('삭제할 고객의 이름은?')
    delete_idx = [] # 삭제할 인덱스 저장 용도
    for idx, customer in enumerate(customer_list):
        if customer_list[idx].name == name:
            delete_idx.append(idx) # 삭제할 인덱스 추가함
    if delete_idx:
        for idx in delete_idx[::-1]: # [2,1]
            del customer_list[idx]
        print(f'{name}님 {len(delete_idx)}명을 삭제하였습니다')
    else:
        print(name, '님이 데이터에 존재하지 않습니다')

In [68]:
# 위 3번 함수 test
customer_list = load_customers()
fn3_delete_customer(customer_list)

삭제할 고객의 이름은?김
김 님이 데이터에 존재하지 않습니다

In [22]:
# 3. 삭제 (동명이인이 있을 경우 삭제할 customer인지를 묻고 지우기)
def fn3_delete_customer(customer_list):
    '''삭제하고자 하는 고객이름을 input으로 받아
    매개변수로 들어온 customer_list에서 삭제하고 "삭제했음/삭제못했음"을 메세지로 출력'''
    delete_name = input('삭제할 고객 이름은?')
    delete_idx = [] # 삭제할 인덱스를 저장하는 용도
    count = 0
    for idx, customer in enumerate(customer_list):
        if customer.name == delete_name:
            delete_idx.append(idx)
    print(delete_idx)
    if delete_idx:
        for idx in delete_idx[::-1]: # [1,0]
            print(customer_list[idx], '를 지우겠습니까(Y/N)?', end='')
            answer = input()
            if answer.lower() == 'y':
                count += 1
                customer_list.remove(customer_list[idx])
        print('{}님 {}명 삭제하였습니다'.format(delete_name, count))
    else:
        print('{}님 데이터가 존재하지 않습니다'.format(delete_name))

In [70]:
# 위 3번 함수 test
customer_list = load_customers()
fn3_delete_customer(customer_list)

삭제할 고객 이름은?홍길동
[0, 3]
 ****	홍길동	010-7777-7777	h@hong.com	33	vip 를 지우겠습니까(Y/N)?y
*****	홍길동	010-9999-9999	k@hong.com	30	vvip 를 지우겠습니까(Y/N)?y
홍길동님 2명 삭제하였습니다

## 4.이름찾기

In [23]:
# 동명이인이 없을 경우 삭제 구현
def fn4_search_customer(customer_list):
    '찾고자 하는 고객이름을 받아 customer_list에서 찾기'
    name = input('검색할 이름은?')
    search_list = [] # 검색한 결과 append
    for customer in customer_list:
        if customer.name == name:
            search_list.append(customer)
    if search_list:
        fn2_print_customers(search_list)
    else:
        print(f"{name}님의 데이터는 존재하지 않습니다")

In [72]:
# 위 4번 함수 test
customer_list = load_customers()
fn4_search_customer(customer_list)

검색할 이름은?홍길동
======================================================================
                                고객 정보
======================================================================
grade	이름 	     전화      	    메일    	나이	기타
----------------------------------------------------------------------
*****	홍길동	010-9999-9999	k@hong.com	30	vvip
 ****	홍길동	010-7777-7777	h@hong.com	33	vip

## 5. 내보내기(CSV)

In [24]:
def fn5_save_customer_csv(customer_list):
    '매개변수로 받은 customer_list를 딕셔너리리스트로 변환하여 csv출력'
    import csv
    if customer_list:
        customer_dict_list = []
        for customer in customer_list:
            customer_dict_list.append(customer.__dict__)
        fieldnames = list(customer_dict_list[0].keys())
        filename = input('저장할 csv파일명은(확장자제외)?')
        with open('data/{}.csv'.format(filename), 'w', encoding='UTF-8', newline='') as f:
            dict_writer = csv.DictWriter(f, fieldnames=fieldnames)
            dict_writer.writeheader() # 헤더 쓰기
            dict_writer.writerows(customer_dict_list) # 데이터 쓰기
            print(f'data/{filename}.csv 내보내기 완료')
    else:
        print('입력된 회원 데이터가 없어서 csv 내보내기를 취소합니다')

In [11]:
# 위 5번 함수 test
customer_list = load_customers()
fn5_save_customer_csv(customer_list)

저장할 csv파일명은(확장자제외)?0
data/0.csv 내보내기 완료

## 9. 종료
- 종료하기 전 customer_list를 txt파일에 저장하고 종료

In [27]:
def fn9_save_customer_txt(customer_list):
    'customer_list의 내용을 data/ch09_customers.txt에 저장'
    customer_text_list = []
    for customer in customer_list:
        customer_text_list.append(customer.to_txt_style()+"\n")
    with open('data/ch09_customers.txt', 'w', encoding='UTF-8') as f:
        f.writelines(customer_text_list)

In [76]:
# 위 9번 함수 test
fn9_save_customer_txt(customer_list)

## main()

In [26]:
def main():
    global customer_list
    customer_list = load_customers() # ch09_customers.txt의 내용을 load
    while True:
        print("1:입력","2:전체출력","3:삭제","4:이름찾기","5:내보내기(CSV)", "9:종료", 
              sep=' | ', end=' ')
        fn = int(input('메뉴선택 : '))
        if fn == 1:
            customer = fn1_insert_customer_info() # 입력받은 내용으로 customer객체를 반환
            customer_list.append(customer)
        elif fn == 2:
            fn2_print_customers(customer_list) # 전체 customer_list 출력
        elif fn == 3:
            fn3_delete_customer(customer_list) # 이름으로 삭제
        elif fn == 4:
            fn4_search_customer(customer_list) # 이름 검색
        elif fn == 5:
            fn5_save_customer_csv(customer_list) # csv 백업
        elif fn == 9:
            fn9_save_customer_txt(customer_list) # txt 백업
            break
if __name__ == '__main__':
    main()

1:입력 | 2:전체출력 | 3:삭제 | 4:이름찾기 | 5:내보내기(CSV) | 9:종료 메뉴선택 : 1
이름 :이길동
전화 :010-9999-8888
메일 :l@hong.com
나이 :35
등급(1~5) : 3
기타 정보 :...
1:입력 | 2:전체출력 | 3:삭제 | 4:이름찾기 | 5:내보내기(CSV) | 9:종료 메뉴선택 : 2
======================================================================
                                고객 정보
======================================================================
grade	이름 	     전화      	    메일    	나이	기타
----------------------------------------------------------------------
*****	홍길동	010-9999-9999	k@hong.com	30	vvip
   **	유길동	010-5432-2222	y@hong.com	20	가칠해
  ***	신림동	010-8888-8888	s@song.com	33	글쎄
 ****	홍길동	010-7777-7777	h@hong.com	33	vip
  ***	이길동	010-9999-8888	l@hong.com	35	...
1:입력 | 2:전체출력 | 3:삭제 | 4:이름찾기 | 5:내보내기(CSV) | 9:종료 메뉴선택 : 3
삭제할 고객 이름은?이길동
[4]
  ***	이길동	010-9999-8888	l@hong.com	35	... 를 지우겠습니까(Y/N)?y
이길동님 1명 삭제하였습니다
1:입력 | 2:전체출력 | 3:삭제 | 4:이름찾기 | 5:내보내기(CSV) | 9:종료 메뉴선택 : 2
======================================================================
                                고객 정보
======================================================================
grade	이름 	     전화      	    메일    	나이	기타
----------------------------------------------------------------------
*****	홍길동	010-9999-9999	k@hong.com	30	vvip
   **	유길동	010-5432-2222	y@hong.com	20	가칠해
  ***	신림동	010-8888-8888	s@song.com	33	글쎄
 ****	홍길동	010-7777-7777	h@hong.com	33	vip
1:입력 | 2:전체출력 | 3:삭제 | 4:이름찾기 | 5:내보내기(CSV) | 9:종료 메뉴선택 : 5
저장할 csv파일명은(확장자제외)?1
data/1.csv 내보내기 완료
1:입력 | 2:전체출력 | 3:삭제 | 4:이름찾기 | 5:내보내기(CSV) | 9:종료 메뉴선택 : 5
저장할 csv파일명은(확장자제외)?2
data/2.csv 내보내기 완료
1:입력 | 2:전체출력 | 3:삭제 | 4:이름찾기 | 5:내보내기(CSV) | 9:종료 메뉴선택 : 5
저장할 csv파일명은(확장자제외)?5
data/5.csv 내보내기 완료
1:입력 | 2:전체출력 | 3:삭제 | 4:이름찾기 | 5:내보내기(CSV) | 9:종료 메뉴선택 : 9

# 문제풀이형 연습문제
- 1 (3)
- 2 (4) wb모드
- 3 (1) 데이터프레임데이터를 쉽게 파일 io