In [ ]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:90% !important;}
div.cell.code_cell.rendered{width:100%;}
div.input_prompt{padding:0px;}
div.CodeMirror {font-family:Consolas; font-size:12pt;}
div.text_cell_render.rendered_html{font-size:12pt;}
div.output {font-size:12pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:12pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:12px;}
</style>
"""))

<b><font size="6" color="red">ch02_자료형과 연산자</font></b>
# 5절. 연산자
## 5.1 산술연산자: +,-,*,/(결과 float),//(몫),%(나머지),**(제곱)

In [ ]:
print("10*5승=", 10**5)
print("5/2(결과 실수) =",5/2)
print("5//2(몫)=",5//2)
print("5%2(나머지)=",5%2)

In [ ]:
# 정수끼리 연산은 결과가 정수(단/ 제외)
# 정수와 실수, 실수끼리 연산 결과는 실수
print("4**2 =", 4**2.0)

In [ ]:
# quiz1. 정수를 입력 받아 짝수인지 홀수인지 여부를 출력 
num = int(input("정수를 입력하세요:"))
result = num % 2 # -1, 0, 1
if result:
    temp = "홀수"
else:
    temp = "짝수"
print(f'입력하신 수는 {num}, 2로 나눈 나머지는 {result}라서 {temp}를 입력하셨습니다')

In [ ]:
# quiz2. 정수를 입력 받아 5의 배수인지 여부를 출력
num = int(input("정수를 입력하세요:"))
result = num % 5
if result:
    temp = "5의 배수가 아닌 것"
else:
    temp = "5의 배수"
print(f'입력하신 수는 {num}, 5로 나눈 나머지는 {result}라서 {temp}를 입력하셨습니다')

In [ ]:
# quiz3. 국,영,수 점수를 입력받아 다음셀에서 다음과 같이 출력하도록 구현하시오
kor = int(input('국어?'))
eng = int(input('영어?'))
mat = int(input('수학?'))
sum = kor+eng+mat
avg = sum/3

In [ ]:
print("국어 : {:3d}\t영어 : {:3d}\t수학 : {:3}".format(kor,eng, mat))
print("총점 : {:3d}\t평균 : {:5.1f}".format(sum,avg))

## 5.2 할당 연산자:=,+=,-=,/=,*=,//=,%=

In [ ]:
a = 10
a += 5 # a = a + 5와 동일
print(f"a={a}")

In [ ]:
a -= 5 # a = a -5
print("5빼기 :", a) # 10
a *= 10 # a = a*10
print("10배 :",a) #100
a //= 5 # a = a//5
print("5나눈 몫 :", a)

## 5.3 논리연산자:&,and,|,or,not

In [ ]:
# & : 논리연산자, 비트연산자
print( (10>3) & (10>5) ) # 논리연산 True & True
print( 12 & 1 ) # 비트 연산 1 1 0 0 (12)
                       #     0 0 0 1 (1)
                       # &:  0 0 0 0

In [ ]:
# and : 논리연산자.    False로 판별되는 첫번째 항의 결과 반환
        # 모든 항이 True면, 마지막 항의 결과 반환
print( (10>3) and (10>5) ) 
print( 12 and 1 )

In [ ]:
# | : 논리연산, 비트연산
result = True | False
print('논리연산(연산자 안뒤에 논리형일 때) :', result)
result = False | 3 # 0000 (0)
                    # 0011 (3)
print('비트연산(연산자 앞이나 뒤에 숫자일 때) :', result)

In [ ]:
# or : 논리연산.  참으로 판별되는 첫번째 항의 결과 반환
        # 모든 항이 거짓이면 마지막항의 결과 반환
print(False or 0 or '' or None or [])
print(False or 0 or 'Hong' or None or [])

In [ ]:
not 10>5

## 5.4 비교연산자:>,>=,<,<=,==(같다), !=(다르다)

In [ ]:
# 비교연산자는 이항,상항, 사항, ...다항연산자
x = 95
print( (90<=x) & (x<=100) )
print(90<= x <=100)
print(90<= x <=100 > 10)

In [ ]:
# 비교연산자의 순위가 비트연산자(|,&)의 순위보다 낮다
print( (10>5) & (10>7) )
print( 10>5 & 10>7 ) # 괄호가 없으면 우선순위가 높은 5&10부터 실행
print( 10 > 0 > 7 )
# 0101(5) & 1010(10)

In [ ]:
address = "목동"
age = 29
print( (address=="목동") & (age<=30))
print( address=="목동" and age<=30)

In [ ]:
# 문자는 ASCII 코드 순으로 비교 : 특수문자 < 숫자문자 < 대문자 < 소문자(abc순)
"김길동" < "홍길동"

In [ ]:
"scott" < "tiger"

## 5.5 비트연산:&,|,^(XOR),~(반대)

'''
x     y    x&y     x|y     x^y     ~x
-------------------------------------------
0     0      0         0        0         1
0     1      0         1        1         1  
1     0      0         1        1         0
1     1      1         1        0         0

'''

In [ ]:
a = 15 # 1111(8+4+2+1)
b =  2 # 0010
print("  a = {0:2} : {0:04b}".format(a))
print("  b = {0:2} : {0:04b}".format(b))
print("a&b = {0:2} : {0:04b}".format(a&b))
print("a|b = {0:2} : {0:04b}".format(a|b))
print("a^b = {0:2} : {0:04b}".format(a^b))

## 6절 문자열 다루기
- 문자열 변수.[from:to:step]: 일부문자 추출
- len(문자열 변수) : 문자수
- upper() : 대문자로
- lower() : 소문자로
- title() : 각 어절의 앞 글자만 대문자로
- capitalze() : 첫 문자만 대문지로
- count("찾을문자") : "찾을문자"가 몇개 들어 있는지 갯수 반환
- find("찾을문자") :"찾을문자"가 왼쪽부터 몇번째에 있는지 index를 변환
- rfind("찾을문자") : "찾을문자"가 오른쪽부터 몇번째인에 있는지 index를 변환
- cf. index("찾을문자") : "찾을문자"가 왼쪽부터 몇번째에 있는지 index를 변환
- startswith("특정문자") : "특정문자"로 시작는지 여부 반환
- endswith("특정문자") : "특정문자"로 끝나는지 여부 반환

- strip() : 좌우공백제거(trim)
- lstrip() : 왼쪽공백제거
- rstrip() : 오른쪽공백제거
- split() : 문자열을 공백이나 다른 문자 기준으로 나누어 리스트 반환
- isdigit() :문자열이 숫자문자열인지 여부 반환
- islower() : 문자열이 소문자인지 여부 반환
- isupper() : 문자열이 대문자인지 여부 반환
- replace(oldStr,newStr) : oldStr을 newStr로 변경

In [ ]:
temp = "python is easy. python is smart. python"
temp, len(temp)

In [ ]:
temp = "python is easy. python is smart. python"
    # 0123456789012345678901234567890123
print("대문자로 :", temp.upper())
print("소문자로 :", temp.lower())
print("title() :", temp.title())
print("capitalize() :", temp.capitalize())
print("c가 몇번 나오는지 :", temp.count("c"))
print("python이 몇번 나오는지 :", temp.count("python"))
print("대소문자 구분없이 python이 몇번 :", temp.lower().count("python"))
print("대소문자 구분없이 python이 몇번 :", temp.upper().count("PYTHON"))
print("대소문자 구분없이 python이 몇번 :", temp.title().count("python"))
print("python이 나오는 첫 index 위치:", temp.find("python"))
print("python이 나오는 마지막 index 위치:", temp.rfind("python"))
print("C가 나오는 index위치 :", temp.find("C")) #찾을 문자가 없는 경우 -1
print("python이 나오는 첫 index 위치 :",temp.index("python"))
# print("java가 나오는 첫 index 위치 :",temp.index("java")) 찾을 문자가 없을 경우 에러
print("python으로 시작하는지 여부 :", temp.startswith("python"))
print("대소문자 구분없이 python으로 시작하는지 여부 :", temp.lower().startswith("python"))
print("python으로 끝나는지 여부 :", temp.endswith("python"))
print("n으로 끝나는지 여부 :", temp.endswith("n"))
print("python을 R로 변경 :", temp.replace("python","R"))
print(temp)

In [6]:
temp ="    python is easy    "
notdigit = "1,000"
print("좌우 공백 제거 : [{}]".format(temp.strip()) )
print("왼쪽 공백 제거 : [{}]".format(temp.lstrip()) )
print("오른쪽 공백 제거 : [{}]".format(temp.rstrip()) )
print("isdigit(숫자문자)인지 여부 :", notdigit.isdigit() )
print("replace 후 isdigit :", notdigit.replace(",", "").isdigit())
print("대문자인지 여부 :", temp.isupper())
print("소문자인지 여부 :", temp.islower())

좌우 공백 제거 : [python is easy]
왼쪽 공백 제거 : [python is easy    ]
오른쪽 공백 제거 : [    python is easy]
isdigit(숫자문자)인지 여부 : False
replace 후 isdigit : True
대문자인지 여부 : False
소문자인지 여부 : True

In [9]:
names = "홍길동 김길동    박길동 주길동 고길동"
name_list = names.split()
print("space단위로 names 분리(list로 반환) :", names.split())
print(name_list[0], name_list[1])

space단위로 names 분리(list로 반환) : ['홍길동', '김길동', '박길동', '주길동', '고길동']
홍길동 김길동

In [12]:
date_str = "2025-09-17"
date_list = date_str.split("-")
print(date_list)
print("년도 :", date_list[0])
print("월 :", date_list[1])
print("일 :", date_list[2])

['2025', '09', '17']
년도 : 2025
월 : 09
일 : 17

In [16]:
str_ = "ABC"
str_ =["A", "B", "C"]
str_[0], str_[1], str_[2]

('A', 'B', 'C')

In [24]:
# ' - '을 "/"로 바꾸기
temp ="Python - 웹(HTML/CSS/JS) - Oracle/MySQL(DBMS) - DL/ML - LLM(RAG)"
# temp.replace(" - ", "/")
# split()와 join() 이용하여 replace역할
splited_temp = temp.split(" - ")
print("분리된 temp :", splited_temp)
joinded_temp = "/".join(splited_temp)
print("join temp :", joinded_temp)

분리된 temp : ['Python', '웹(HTML/CSS/JS)', 'Oracle/MySQL(DBMS)', 'DL/ML', 'LLM(RAG)']
join temp : Python/웹(HTML/CSS/JS)/Oracle/MySQL(DBMS)/DL/ML/LLM(RAG)

In [4]:
# 문자열을 다룰 수 있는 함수들 목록
temp = "a"
# dir(str)

# 7절 시간, 날짜 다루기

In [27]:
import datetime
datetime.__file__

'C:\\Users\\Admin\\anaconda3\\lib\\datetime.py'

In [1]:
# datetime모듈(datetime.py)안의 datetime, date, time만 load
from datetime import datetime, date, time

## 7.1시간과 날짜

In [3]:
# 특정 시점을 갖는 datetime 객체 생성
thatday = datetime(2025, 9, 11, 9, 30)

In [7]:
# 날짜를 문자열로 전환
print("{:%y년%m월%d일(%A) %H:%M:%S}".format(thatday))
print(thatday.strftime("%y년%m월%d일(%A) %H:%M:%S"))
print(thatday.ctime()) #ctime() : 사람이 읽기 쉬운

25년09월11일(Thursday) 09:30:00
25년09월11일(Thursday) 09:30:00
Thu Sep 11 09:30:00 2025

In [9]:
# 지금을 저장하는 datetime 객체 생성
now = datetime.now()
print(now)
print(now.ctime())
print(now.strftime("%y년%m월%d일(%A) %H:%M:%S"))

2025-09-17 14:24:45.464751
Wed Sep 17 14:24:45 2025
25년09월17일(Wednesday) 14:24:45

In [10]:
diff = now-thatday
print(diff)
print(diff.days)

6 days, 4:54:45.464751
6

## 7.2 날짜

In [11]:
# 특정한 날짜를 갖는 date객체 생성
someday = date(2025, 9, 11)
someday

datetime.date(2025, 9, 11)

In [12]:
print(someday)
print(someday.strftime("%Y년 %m월 %d일 %H:%M"))

2025-09-11
2025년 09월 11일 00:00

In [13]:
# 오늘은 갖는 date 객체 생성
today1 = date.today()
today2 = datetime.now().date()
print(today1==today2)

True

In [15]:
print(today1.strftime("%Y년%m월%d일 %H:%M"))
print(today2.strftime("%Y년%m월%d일 %H:%M"))

2025년09월17일 00:00
2025년09월17일 00:00

In [16]:
diff = someday - today1
print(diff)
print(diff.days)

-6 days, 0:00:00
-6

## 7.3 시간

In [17]:
# 특정한 시간을 저장하는 time 객체 생성
t = time(14, 39, 0)
t

datetime.time(14, 39)

In [22]:
# print(t.strftime(("%Y년 %m월 %d일 %p %I:%M"))
print(t.strftime("%p %I:%M"))

PM 02:39

In [23]:
# 현재시간
nowtime = datetime.now().time()
print(nowtime)

14:46:26.781086

## 8절. 연습문제

In [27]:
# 1. [출력형식 : 홍갈동님의 나이는 23살입니다]
name = "홍길동"
age = 23
print("{}님의 나이는 {}살입니다".format(name,age))

홍길동님의 나이는 23살입니다

In [30]:
# 2. 정수입력받아 산술연산결과 출력
a = int(input("첫번째 숫자?"))
b = int(input("두번째 숫자?"))
print("덧셈 :",a + b)
print("뺼셈 :",a - b)
print("곱셈 :",a * b)
print("나눗셈 :",a/b)
print("몫 :",a//b)
print("나머지 :",a%b)

첫번째 숫자?15
두번째 숫자?9
덧셈 : 24
뺼셈 : 6
곱셈 : 135
나눗셈 : 1.6666666666666667
몫 : 1
나머지 : 6

In [ ]:
# 3.
message ="Hello World"
message.split()
name_list = names.split()
print("space단위로 message 분리(list로 반환) :", names.split())
print(name_list[0], name_list[1])